<h2><%= @task[:title] %></h2>
<br>
<h3><%= @task[:details] %></h3>

<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<br>
<%= link_to "Back to List", tasks_path %>
<br>
<%= link_to "Edit Task", edit_path %>
<br>
<%= link_to "Create New Task", tasks_new_path %>
<!-- <a href="/tasks">show all tasks</a> -->
